/* fonts*/
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/*html*/
/*kode Daniel*/
body {
  background-color: white;
}

.navbar {
  display: flex;
  background-color: black;
}

.navbar-menu {
  color: white;
  font-size: 20px;
  display: flex;
  gap: 1em;
  padding: 10px;
  border: none;
}

/*article text + img */
.articles {
  margin: 30px;
}
.article-text1 {
  font-family: "El Messiri";
  font-weight: bolder;
  display: flex;
}

.article-start {
  height: 150px;
  width: 700px;
  padding: 50px;
  margin: auto;
}
.article-header {
  font-family: "El Messiri";
  font-size: 25px;
  font-weight: bolder;
  padding: 5px;
}
.img {
  max-height: 375px;
  width: 665px;
  border: none;
  border-radius: 15px;
}
.article-box_ {
  display: flex;
  text-align: center;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.right {
  display: flex;
  flex-direction: row-reverse;
}
#manul {
  text-align: center;
  font-family: "El Messiri";
}
.article-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* nav-bar*/
.navbar-search {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.search-input {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

.search-button {
  background-color: grey;
}

.image-container {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.image-container img {
  height: 100%;
  width: 100%;
}

.art1 {
  display: flex;
  margin: 175px;
}

/*.article-box {
  width: 300px;
  border: 15px solid rgb(255, 0, 0);
  margin: 20px;
}
.article-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/
p {
  padding: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.active {
  background-color: grey;
}

-------------------------------------- 
/* ############################################################################################*/

footer {
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: 0;
  background-color: #000000;
  color: white;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.bottom_note {
  background-color: #000000;
  height: 100%;
  width: 100%;
  color: antiquewhite;
  text-align: left;
  /* grid-gap: 2px;
  grid-template-columns: 2fr 0.1fr 1fr 1fr; */
}

.footer_logo {
  background-color: #000000;
  height: 200px;
  width: 100%;
  color: antiquewhite;
  text-align: left;
  /* display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 0.1fr 1fr 1fr; */
}
.footer_first_head {
  font-size: 8px;
  display: flex;
  flex-direction: row;
}
.footer_bottom_end {
  background-color: #131313;
  height: 20px;
  width: 100%;
  box-sizing: border-box;
}

.bottom_note2 {
  background-color: #131313;
  color: aliceblue;
  height: 20px;
  width: 40px;
  bottom: 0;
}
/* grid-gap: 25px;
  grid-template-columns: 2fr 0.1fr 1fr 1fr; */

/* ====================================== MID = F O O T E R  ENDS ======================================= */
.vertical2 {
  border-left: 1px solid #000000ab;
  color: aliceblue;
}
.middle_para {
  background-color: #030303;
  color: antiquewhite;
  display: flex;
  grid-area: last;
  grid-template-columns: 1fr;
  display: flex;
}
.footer_About {
  /* margin: auto; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.footer_About_para {
  margin-top: 10%;
  margin-bottom: 10%;
}
.footer_About_head {
  color: rgb(173, 171, 171);
}
.footer_About_links {
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
/* ====================================== LAST = F O O T E R  ENDS ======================================= */
.footer_bar {
  background-color: #000000;
  height: 200px;
  width: 100%;
  color: antiquewhite;
  text-align: center;
  grid-gap: 25px;
  grid-template-columns: 2fr 0.1fr 1fr 1fr;
}
#unleash {
  color: rgb(154, 154, 154);
  font-weight: lighter;
}
.footer_last_last_para {
  margin-top: auto;
  margin-bottom: auto;
}
.footer_last_mid_para {
  margin-top: auto;
  margin-bottom: auto;
}
.copyright2 {
  color: rgb(145, 145, 145);
  font-size: 0.7rem;
  font-weight: lighter;
}
